$md-routigopallete: (
  50 : #e5ecf0,
  100 : #bfcfda,
  200 : #94afc2,
  300 : #698fa9,
  400 : #487796,
  500 : #285f84,
  600 : #24577c,
  700 : #1e4d71,
  800 : #184367,
  900 : #0f3254,
  A100 : #8bc1ff,
  A200 : #58a6ff,
  A400 : #258bff,
  A700 : #0c7eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-routigoaccentpallete: (
  50 : #fefbed,
  100 : #fef5d1,
  200 : #fdeeb3,
  300 : #fce794,
  400 : #fbe17d,
  500 : #fadc66,
  600 : #f9d85e,
  700 : #f9d353,
  800 : #f8ce49,
  900 : #f6c538,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff5d9,
  A700 : #ffeebf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


